/*Loading Page*/
.loading-page{
    display: flex;
    margin: auto;
    max-width: 768px;
}

.loading-image{
    font-size: 36px;
    padding: 0 12px;
    animation: rotate 8s linear infinite;
}

.loading-title{
    margin: auto;
}

@-moz-keyframes rotate { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes rotate { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes rotate { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

/*Error page*/
.error-page{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.error-title{
    margin: auto;
}

.error-subtitle{
    margin: 24px auto;
}

/*UserListComponent */
.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-list{
    max-width: 300px;
}

.user-list-item{
    width: 250px;
    display: flex;
    text-align: center;
    margin: 12px 0;
}

.user-list-paragraph{
    font-size: 24px;
    margin: auto;
    flex: 1;
    font-weight: 600;
    text-align: left;
}

.user-list-page{
    display: flex;
    flex-direction: column;
}

.user-list-container{
    display: flex;
    justify-content: center;
}

.user-list-title{
    margin: 24px auto;
}

.user-list-title-container{
    margin: auto;
    display: flex;
    width: 100%;
    border-top: 4px solid black;
    border-bottom: 2px solid black;
}

/* Search Page */
.search-page{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.search-container{
    margin: auto;
    text-align: center;
}

.search-form{
    margin: 64px auto 64px auto;
}

.search-input{
    width: 100%;
}

input[type="text"]
{
    font-size:24px;
}

/*Header*/

.header-container{
    height: 72px;
    border-bottom: 4px solid black;
    display: flex;
}

.header-title{
    margin: auto;
    padding-right: 24px;
}

.header-icon{
    font-size: 24px;
    padding-left: 24px;
}

.header-icon:hover{
    cursor: pointer;
    color: rgb(43, 43, 43);
}

/*Repo Detail*/
.repo-detail-page{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.repo-detail-icon{
    margin-right: 12px;
}

.repo-detail-container{
    display: flex;
    margin: auto;
    width: 800px;
}

.repo-detail-item{
    flex: 1;
}

.repo-detail-link{
    margin: 128px auto 0 auto;
}

/*Repo List*/
.repo-list-item{
    display: flex;
    border-bottom: 1px solid black;
}

.repo-list-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin: auto;
}

.repo-list-label{
    flex: 2;
}

.repo-icon-label{
    flex: 1;
}

.repo-list-title{
    text-align: center;
}

/* Pagination */
.repo-list-pagination{
    display: flex;
    list-style: none;
    width: 500px;
    margin: 64px auto 0 auto;
}

.pagination-item{
    flex: 1;
    cursor: pointer;
}
.pagination-link{
    flex: 1;
    width: 20px;
    cursor: pointer;
}
